




.gallery {
    height: 100%;
    /*    min-height: 80%; lo puse en comentario*/
    /*  width: 90%; tenia este ancho  */
    width: 100%;
    /*  overflow-y: hidden; estaba asi */
    /* border: solid; */
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    /* grid-auto-rows: 22rem; */
    grid-auto-rows: auto;
    /* auto-fit acomoda las columnas rellendando el espacio 
    auto fill se generan columnas aunque esten vacias  */
    /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
}

.gallery_2 {
    height: 100%;
    /*    min-height: 80%; lo puse en comentario*/
    /*  width: 90%; tenia este ancho  */
    width: 100%;
    /*  overflow-y: hidden; estaba asi */
    /* border: solid; */
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    /* grid-auto-rows: 22rem; */
    grid-auto-rows: auto;
    /* auto-fit acomoda las columnas rellendando el espacio 
    auto fill se generan columnas aunque esten vacias  */
    /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 15rem), 1fr));
}


.gallery_3{
    width: 48%;
    float: left;
    padding: 0 20px;
    background: #fff;
    overflow: hidden;
    margin: 10px;
    display:grid;
    gap: 1rem;
    grid-auto-flow:dense;
    grid-auto-rows:auto;
    border:solid;
    grid-template-columns: repeat(auto-fit,minmax(min(100%, 15rem), 1f));
    }
    .icon{
   
        background-color: aliceblue;
    
    
    }
    .imga{
        
        height: 32px;
        width: 32px;
    }
    
